.nav-link {
  border-radius: 8px;
  padding: 8px 12px;
  transition: 0.2s;
  text-decoration: none;
  color: rgb(161, 160, 160);
  font-weight: bold;
  display: block;
  padding: 8px 12px;
  border-radius: 6px;
  line-height: 30px;
}

.nav-link:hover {
  background-color: #f8f9fa;
  color: #e7283b !important;
  border-left: 5px solid rgb(228, 18, 60);
}

