body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(228, 218, 218);
    padding-top: 30px;
    color: rgb(8, 8, 8);
}

nav{
     background-color: rgb(36, 35, 35);
     padding-top: 20px;
     height: 50px;
     font-family: Verdana;
}

a{
    text-decoration: none;
    padding: 50px;
    color: rgb(255, 255, 255);
}
a:link {
  color: rgb(245, 239, 244);
}

a:visited {
  color: green;
}

a:hover {
  color: rgb(159, 226, 252);
}

a:active {
  color: rgb(42, 42, 218);
}


.Intro{
    background-color: rgb(159, 158, 160);
    padding: 50px 50px 50px 50px ;
    margin: 20px 20px 20px 20px;
    border: 1px solid rgb(12, 12, 12);
}

.Box1{
    border: 5px outset rgb(5, 5, 5);
    float: left;
    width: 25%;
    margin: 10px 5px 5px 30px;
    padding:20px 20px 20px 20px
}

.Box1:hover{
    background-color: aquamarine;
}

.Box2{
    border: 5px outset rgb(7, 7, 7);
    float:left;
    width: 25%;
    margin: 10px 5px 5px 50px;
    padding:20px 20px 20px 20px
}

.Box2:hover{
    background-color: aquamarine;
}

.Box3{
    border: 5px outset rgb(5, 5, 5);
    float: right;
    width: 25%;
    margin: 10px 40px 5px 30px;
    padding:20px 20px 20px 20px
}

.Box3:hover{
    background-color: aquamarine;
}

.Pseudo{
    background-color: rgb(144, 144, 145);
    padding: 50px 50px 50px 50px ;
    margin: 250px 20px 50px 20px;
    border: 1px solid rgb(12, 12, 12);
}
.Pseudo::before{
    content: "Before";
    color:blueviolet
}

.Pseudo::after{
    content: "After";
    color:blueviolet
}

.Pseudo p:hover {
  color: brown;
}

footer{
    position: fixed;
    bottom: 0; 
    width: 100%; 
    text-align: center;
    background-color: rgb(193, 194, 196);
}
