h1{
    background-color: rgb(228, 218, 218);
    margin-top: 0;
    padding-top: 30px;
    color: rgb(8, 8, 8);
    padding-bottom: 20px; 
}

.box1{
    position:relative;
    border:1px solid black;
    margin:100px 500px 0px 300px;
    padding:300px 200px 300px 200px;
    background-color: lightgray;
}

#boxx{
    position:absolute;
    border:2px solid green;
    margin-top:-200px;
    padding:10px 20px 20px 10px;
    background-color: green;

}

.box2{
    position:relative;
    border:2px solid light;
    height: 50px;
    width: 100px;
    padding:30px 20px 20px 30px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: lightblue;
}

footer{
    position: fixed;
    text-align: center;
    background-color: lightgray;
    width: 100%;
    bottom: 0;
}