<div class="container mt-4">

  <h3 class="text-danger fw-bold mb-3">Order History</h3>

  <div class="table-scroll">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Order ID</th>
          <th>Product</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let i of items">
          <td>{{ i.orderId }}</td>
          <td>{{ i.productName }}</td>
          <td>{{ i.qty }}</td>
          <td>{{ i.price }}</td>
          <td> <button class="btn btn-danger btn-sm"
              (click)="cancelOrder(i.orderId)">
        Cancel
      </button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
