body{
    background-color: white;
}

header{
    background-color: rgb(215, 216, 216);
    padding-top: 30px;
    color: rgb(12, 12, 12);
}

nav{
     background-color: rgb(30, 30, 31);
     padding-top: 20px;
     height: 50px;
     font-family: Verdana;
}

a{
    text-decoration: none;
    padding: 50px;
    color: rgb(242, 242, 248);
}

#block1{
    display:block;
    background-color:lightgreen;
    padding: 10px 10px 10px 10px ;
    margin: 20px 370px 10px 370px;
}

#block2{
    display: block;
    background-color: lightgreen;
    padding: 10px 10px 10px 10px ;
    margin: 5px 370px 10px 370px;
}

#block3{
    display: block;
    background-color: lightgreen;
    padding: 10px 10px 10px 10px ;
    margin: 5px 370px 10px 370px;
}

#inline1{
    display:inline;
    background-color:orangered;
    padding: 5px;
    margin-left: 90PX;
}

.inlinee{
    text-align: center;
    margin-top: 50px;
}

#inlineb1{
    display:inline-block;
    background-color:violet;
    margin: 90PX;
    padding: 10px;
}

.inlinebl{
    text-align: center;
    
}



